---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { Image } from 'astro:assets'
import Layout from '@/layouts/Layout.astro'
import logo from '../../public/static/logo.png'
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

    <section>
      <div class="min-w-full">
        <h1 class="mb-4 text-3xl font-bold">
          <Image src={logo} alt="Logo" class="size-12 float-left mr-4 rounded-sm" />
          About Me
        </h1>
        <div class="prose prose-neutral mb-8 dark:prose-invert">
          <p>
            <strong>About:</strong>
          </p>
          <p>
            I am a postdoctoral researcher at Harvard, MIT and Cambridge. I build trustworthy human-centred artificial intelligence (AI) for high-stakes deployment. My work pays particular attention to critical applied domains such as healthcare and robotics, where transparency, ecological validity and human oversight of AI systems is essential.
          </p>
          <p>
            I am passionate about promoting responsible and equitable AI. I am also a consultant to the <a href="https://www.un.org/independent-international-scientific-panel-ai/en/panel-members" target="_blank" rel="noopener noreferrer">United Nations' Independent International Scientific Panel on AI</a> where I contribute as part of the editing and drafting support team. The Panel’s inaugural report can be found <a href="https://www.un.org/independent-international-scientific-panel-ai/en/preliminary-report" target="_blank" rel="noopener noreferrer">here</a>.
          </p>
          <p>
            I obtained my PhD from the University of Cambridge. During my time at Cambridge, I was a <a href="https://www.turing.ac.uk/people/doctoral-students/vidhi-lalchand" target="_blank" rel="noopener noreferrer">Turing Scholar</a> and a member of Pembroke College. My thesis won the AAAC global outstanding dissertation award (1 global award per year). I obtained my bachelors’ in mathematics from Imperial College on a fully funded international scholarship.
          </p>
          <p class="mt-0">
            <strong>Research:</strong>
          </p>
          <p class="mt-0">
            I am committed to advancing trustworthy, safe, and reliable human-centred AI. My research draws inspiration from human intelligence to develop AI systems capable of reasoning through causality, assessing and communicating uncertainty, and continually learning and adapting to new tasks and environments. More broadly, I am interested in developing robust and equitable AI that addresses real-world societal challenges while fostering collaborative research that broadens participation and advances AI for social good.
          </p>
          <p class="mt-0">
            My research has been supported by the Turing Doctoral studentship, Cambridge Trust, Leverhulme Trust, Cambridge Philosophical Society, DAAD and the Harvard Berkman Klein Institute.
          </p>
        </div>
      </div>
    </section>
  </Container>
</Layout>
